:host {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      border-radius: 15%;
    }

    a {
        margin-top: 1rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1.25rem;
        text-decoration: none;
        color: black;
    }
  }
}
